@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.visual{
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.descuentos{
width: 100%;
background-color: #D1891C;
}
.tdescuentos{
    padding: 0.2rem 0rem 0.2rem 1.5rem;
    font-size: 1rem;
}
.card{
    background-color: #00669F;
    color: #FFFFFF;
    width: 100%;
}
.titulo{
    font-size: 2rem;
    padding: 0.2rem 0rem 0.2rem 1.5rem;
}
.main{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.heroe{
    position: relative;
    width: 20rem;
    height: 36rem;
    margin: 1rem auto;
    background-color: #F3F3F3;
    z-index: 0;
}
.fondoB{
    background-image: url(../img/fbatman.png);
    width: 20rem;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.corazon{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
}
.img{
    position: absolute;
    width: 6rem;
    left: 35%;
    top: 7rem;
    border-radius: 10rem;
}
.titulo2{
    text-align: center;
    position: relative;
    top: 3rem;
    text-transform: uppercase;
}
.descripcion{
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.5rem;
    position: relative;
    top: 3rem;
}
.mas{
    text-align: center;
    position: relative;
    top: 3rem;
    left: 30%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 8rem;
    height: 3rem;
    color: #FFFFFF;
    background-color: #00669F;
}
.fondoM{
    background-image: url(../img/fmaravilla.png);
    width: 20rem;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.fondoS{
    background-image: url(../img/fsuperman.png);
    width: 20rem;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.titulo2-1{
    text-align: center;
    position: relative;
    top: 3rem;
}
.fondoH{
    background-image: url(../img/fharley.png);
    width: 20rem;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.pie{
    background-color: #00669F;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.derechos{
    font-size: .8rem;
    color: #F3F3F3;
}
#git{
    color: #F3F3F3;
    position: absolute;
    right: 1rem;
}
.plus{
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    background-color: #00669F;
    font-size: 1.5rem;
    color: #F3F3F3;
}
.prueba{
    position: relative;
}
.lplus{
    position: fixed;
    top:50vh;
    right: 2vw;
    z-index: 1;
}
@media(min-width:480px){
    .visual{
        background-color: white;
    }
}
@media(min-width:768px){
        .visual{
        background-color: red;
    }
}